@font-face
{
    font-family: MontserratMedium;
    src: url(Montserrat-Medium.ttf);
}

@font-face
{
    font-family: MontserratThin;
    src: url(Montserrat-Light.ttf);
}

@font-face
{
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}